@font-face {
  font-family: "iconfont"; /* Project id 4028700 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1721187050852') format('woff2'),
       url('iconfont.woff?t=1721187050852') format('woff'),
       url('iconfont.ttf?t=1721187050852') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zwzright:before {
  content: "\e775";
}

.icon-zwztoday:before {
  content: "\e944";
}

.icon-zwzIP:before {
  content: "\e600";
}

.icon-zwzphone:before {
  content: "\e62f";
}

.icon-zwzmeinv:before {
  content: "\e664";
}

.icon-zwzmeinv-green:before {
  content: "\e698";
}

.icon-zwzback:before {
  content: "\e697";
}

